body{background-image: url("background.jpg");background-repeat: no-repeat;background-size: 1600px}

header{margin: 200px auto 0px auto;width: 700px;height: 80px}

figure{display: inline;}

article{margin: 0px auto 0px auto;width: 700px;height: 480px}



.color{width: 700px;height: 250px;background-color: hsla(45, 0%, 0%,0.3);padding-top: 80px}

img{margin-left: 220px;/*width: 400px;height: 250px*/;width: 200px;height: 193px}

.button1{ 
    margin: 0px 0px 0px 200px ;width: 100px; height: 100px/*;background-image: url("dark-brown-grunge-wall-background-texture.jpg")*/;background-color:inherit;background-repeat: no-repeat;border-color: white; /*border: none;*/color:white; font-size: 30px;/*font-weight: bold*/;border-radius: 100%;border-style: solid}

.button1:hover{background-color: burlywood}

.button2{margin-left: 110px; width: 100px; height: 100px ;border-color: white; color:white; font-size: 30px;background-color:inherit;border-radius:100%;border-style: solid}

.button2:hover{background-color: burlywood}

p{margin-top: 20px; color: white;font-size: 30px;margin-left:170px;padding-top: 50px}

.taal{color: white;text-decoration: underline;font-size: 20px}

