
body {
    background-image: url("../Foto's/background.jpg");
    color: white;
}

#footer {
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 99%;
    text-align: center;
}

.logo {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.logo:hover {
    -webkit-filter: brightness(1) invert(0);
    filter: brightness(1) invert(0);
}

.logo:visited {
    -webkit-filter: brightness(1) invert(0);
    filter: brightness(1) invert(0);
}

ul {
    display:block;
    height: inherit;
    max-width: 99%;
}
li {
    display:inline-block;
   
    
}