body{background-image: url("background.jpg");background-repeat: no-repeat;background-size: 1600px}
article{margin: 200px auto 0px auto}
.color{background-color: hsla(45, 0%, 0%,0.3);width: 700px; height: 480px}
p{color: white;line-height: 1.8;font-size:20px; margin-left: 95px; padding-top: 20px}
iframe{height: 250px; width: 500px; margin-left: 100px}